<!DOCTYPE html>
<html>

<head>
    <title>PayPal Sandbox</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>"></script>
    <script src="script.js" defer></script>
</head>

<body>
    <!-- <input type="number" id="number"> -->
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
</body>

</html>
